<!DOCTYPE html>
<html>

<head>
    <title>Code Interview Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.9.6/rivets.bundled.min.js"></script>
    <script type="text/javascript">
        var rando = Math.floor(Math.random() * Math.floor(100000));
        var script = document.createElement('script');
        script.src = 'https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js';
        script.setAttribute("data-main", 'config.js?v=' + rando);
        document.getElementsByTagName('head')[0].appendChild(script);
        rivets.formatters["eq"] = function (value, arg) {return value == arg;};
        rivets.formatters["lt"] = function (value, arg) {return value < arg;};
        rivets.formatters["gt"] = function (value, arg) {return value > arg;};
    </script>
    <link rel="stylesheet" href="index.css?v=1">
    <style>
        /* LIGHT VERSION */
        .myGlyphMarginClass {
    
            background: rgb(168, 220, 236);
        }
    
        .myContentClass {
            background: rgb(227, 245, 250);
        }

        body{
            background-color: rgb(243, 246, 255);
        }

        /* DARK VERSION */
        /* .myGlyphMarginClass {
	        background: rgb(119, 165, 179);
        }
        .myContentClass {
            background: rgb(54, 66, 70);
        } */

    </style>
</head>
<body>
    <div id="loadingDiv" style="text-align: center;">
        <br><br><br>
        Loading...
    </div>
    <div id="divMain" style="display: none;">
        <div class="container text-center" >
            <h1>
                { data.title }
            </h1>
            <button class="btn btn-primary mt-4 ml-2" onclick="myApp.heightShrink()"
                data-toggle="tooltip" data-placement="bottom" title="Decrease code editor size">-</button>
            <button class="btn btn-primary mt-4 ml-2" onclick="myApp.heightGrow()"
                data-toggle="tooltip" data-placement="bottom" title="Increase code editor size">+</button>
            <button class="btn btn-primary mt-4 ml-2" onclick="myApp.btnRunCode()">Run Code</button>
            <!-- <button class="btn btn-success mt-4 ml-2" rv-if="data.run_updates" onclick="myApp.stopUpdate()">Connected</button>
            <button class="btn btn-danger mt-4 ml-2" rv-if="data.stop_updates" onclick="myApp.stopUpdate()">Disconnected</button> -->

            <!-- <input class="form-control mt-4" type="password"
                placeholder="Enter Password" rv-value="data.password"> -->
            
            <div class="form-check mt-4">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" 
                    rv-checked="data.edit_mode" onchange="myApp.chkEditCodeChanged()">
                Edit Code
              </label>
            </div>
            <div>
                Viewers:&nbsp;<b>{ data.num_viewers }</b>&nbsp;Editors:&nbsp;<b>{ data.num_editors }</b>
                <!-- &nbsp;Counter:&nbsp;<b>{ data.update_counter }</b> -->
                &nbsp;<span rv-show="data.current_version | lt 0">MERGING CONTENT</span>
                <div rv-if="data.show_warning" class="alert alert-danger" style="width: 50%;margin-left: auto;margin-right: auto;" role="alert">
                    WARNING: Co-Authoring is experimental
                </div>
            </div>
            <div id="mydiv" class="mt-4 text-center">
                <b>Output:</b>&nbsp;{ data.message }
            </div>
        </div>
        
        <div id="monContainer" style="margin-top:20px;margin-bottom:20px;margin-right:50px;margin-left:50px;min-height:400px;border:1px solid grey;"></div>
        
    </div>
</body>

</html>